body {
	color: white;
	background-color: black;
}

.board {
	width: 500px;
	height: 500px;
	display: grid;
}

.flex-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.buttons,
.mode,
.board-size {
	display: flex;
	justify-content: center;
	align-items: center;
}
